    {% extends  "base.html" %} 
    {% block content %}
      
    
    <header>
        <h1>About SoftClub Academy</h1>
    </header>
    
    <section>
        <h2>Our Mission</h2>
        <h1>Lorem ipsum dolor si    t, amet consectetur adipisicing elit. Maxime perspiciatis fugit, praesentium, odit aliquam aliquid deserunt, nam voluptatum laudantium vel nostrum dicta. Nihil minus numquam magnam id temporibus harum pariatur!</h1>

    </section>
    
    <footer>
        <p>&copy; 2022 Akademija SoftClub</p>
    </footer>
    {% endblock content %}
