{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
 

   
    
    <header>
      <h1> SoftClub Academy ABOUT</h1>
    </header>
    
    <section>
      <h2>Text about something</h2>
      <p>{% lorem 2 b random %}</p>
      

      <p>{% lorem 2 b random %}</p>
    </section>
   
    
    <footer>
        <a href="https://www.softclub.tj/"> 2023  SoftClub Academy</a>
      
    </footer>
    {% endblock content %}
</body>
</html>

